.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 12rem;
  gap: 6.8rem;
  min-height: 100vh;
  background-color: var(--clr-black);
}

.picture {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100%;
  max-width: 168px;
  max-height: 220px;
  top: 0;
  right: 0;
  opacity: 0;
  transition: inset 0.5s ease;
  transition-delay: 0.2s;
}

.picture.animate {
  top: 1.6rem;
  right: 1.6rem;
  animation: fadeIn 0.3s linear forwards;
}
.picture::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 8px solid var(--clr-orange);
  z-index: -1;
  transition: inset 0.5s ease;
  transition-delay: 0.2s;
}

.picture.animate::before {
  top: -1.6rem;
  right: -1.6rem;
}

.picture img {
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.menu a {
  position: relative;
  display: block;
  font-family: 'Roboto Serif', serif;
  font-weight: 600;
  line-height: 1.25;
  font-size: 4.8rem;
  color: white;
  transition: color 0.3s ease;
  opacity: 0;
  transform: translateX(6rem);
}
.menu a:hover::before {
  content: url('data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iNDMiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCA0MyAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMzLjMzMzcgMTMuMzMzN0g5LjMzMzdDOC41ODcwMyAxMy4zMzM3IDguMDAwMzcgMTIuNzQ3IDguMDAwMzcgMTIuMDAwM0M4LjAwMDM3IDExLjI1MzcgOC41ODcwMyAxMC42NjcgOS4zMzM3IDEwLjY2N0gzMy4zMzM3QzM0LjA4MDQgMTAuNjY3IDM0LjY2NyAxMS4yNTM3IDM0LjY2NyAxMi4wMDAzQzM0LjY2NyAxMi43NDcgMzQuMDgwNCAxMy4zMzM3IDMzLjMzMzcgMTMuMzMzN1oiIGZpbGw9IiNGMkNDOEYiLz4KPHBhdGggZD0iTTI2LjY2NzEgMjIuNjY2OUMyNi40OTIyIDIyLjY2OTEgMjYuMzE4OCAyMi42MzQ2IDI2LjE1ODEgMjIuNTY1N0MyNS45OTczIDIyLjQ5NjggMjUuODUyOCAyMi4zOTUgMjUuNzMzNyAyMi4yNjY5QzI1LjIwMDQgMjEuNzMzNiAyNS4yMDA0IDIwLjkwNjkgMjUuNzMzNyAyMC4zNzM2TDM0LjEzMzcgMTEuOTczNkwyNS43MzM3IDMuNTczNjFDMjUuMjAwNCAzLjA0MDI3IDI1LjIwMDQgMi4yMTM2MSAyNS43MzM3IDEuNjgwMjdDMjYuMjY3MSAxLjE0Njk0IDI3LjA5MzcgMS4xNDY5NCAyNy42MjcxIDEuNjgwMjdMMzYuOTYwNCAxMS4wMTM2QzM3LjQ5MzcgMTEuNTQ2OSAzNy40OTM3IDEyLjM3MzYgMzYuOTYwNCAxMi45MDY5TDI3LjYyNzEgMjIuMjQwM0MyNy4zNjA0IDIyLjUwNjkgMjcuMDEzNyAyMi42NDAzIDI2LjY5MzcgMjIuNjQwM0wyNi42NjcxIDIyLjY2NjlaIiBmaWxsPSIjRjJDQzhGIi8+Cjwvc3ZnPgo=');
  position: absolute;
  display: block;
  top: -0.4rem;
  left: -5.6rem;
  animation: arrowSlide 0.3s linear forwards;
}
.menu a:hover {
  text-decoration: underline;
  color: var(--clr-yellow);
}

.menu a.animate {
  animation: appear 0.3s linear forwards;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .main {
    padding-block: 3.6rem;
  }
  .menu a {
    font-size: 3.6rem;
  }
  .menu a:hover::before {
    content: none;
  }
  .menu a:hover {
    text-decoration: none;
    width: fit-content;
  }
}

@keyframes arrowSlide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1rem);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(6rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
