.capability {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.capability > * {
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
}

.capability .date {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--clr-dark);
}

.capability .title {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--clr-orange);
}

.capability .description {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--clr-dark);
  line-height: 1.6;
}

@media (max-width: 768px) {
  .capability {
    gap: 0;
  }
}
