.header {
  background-color: var(--clr-black);
  padding-block: 4.8rem;
  padding-inline: 2.4rem;
  height: 100vmax;
  transition: height 0.4s ease-in;
  animation-delay: 0.6s;
}
.header.animate {
  height: 31.6rem;
}
.header .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}

.title {
  max-width: 40rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.title h1 {
  font-family: 'Roboto Serif', serif;
  font-weight: 600;
  line-height: 1.25;
  font-size: 4.8rem;
  letter-spacing: 0.08em;
  color: white;
  opacity: 0;
}
.title span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  font-size: 3.2rem;
  color: var(--clr-orange);
  opacity: 0;
}
.title.animate h1 {
  animation: appearFromTop 0.3s linear forwards;
}
.title.animate span {
  animation: fadeIn 0.3s linear forwards;
  animation-delay: 0.2s;
}

.about {
  margin-top: 2.4rem;
  position: relative;
  max-width: 40rem;
  flex: 1;
  opacity: 0;
}
.about::before {
  content: url('data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNyAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjQ2OCAxNC43OTZDMTMuNDY4IDEzLjc4MjcgMTMuNjIgMTIuNzQ0IDEzLjkyNCAxMS42OEMxNC4yMjggMTAuNjE2IDE0LjY4NCA5LjU3NzMzIDE1LjI5MiA4LjU2NEMxNS45IDcuNSAxNi41ODQgNi40ODY2NiAxNy4zNDQgNS41MjRDMTguMTA0IDQuNTEwNjcgMTguOTE0NyAzLjU3MzMzIDE5Ljc3NiAyLjcxMkMyMC42ODggMS44IDIxLjYyNTMgMC45ODkzMzEgMjIuNTg4IDAuMjc5OTk4TDI2LjA4NCAzLjE2OEMyNC42MTQ3IDQuMDggMjMuMjQ2NyA1LjA2OCAyMS45OCA2LjEzMkMyMC43MTMzIDcuMTQ1MzMgMTkuNjQ5MyA4LjIzNDY2IDE4Ljc4OCA5LjRDMTcuOTI2NyAxMC41MTQ3IDE3LjMxODcgMTEuNzMwNyAxNi45NjQgMTMuMDQ4TDE1Ljk3NiAxMi44MkMxNi4yMjkzIDEyLjIxMiAxNi41MzMzIDExLjgzMiAxNi44ODggMTEuNjhDMTcuMjQyNyAxMS40NzczIDE3LjY3MzMgMTEuMzc2IDE4LjE4IDExLjM3NkMxOS41OTg3IDExLjM3NiAyMC43Mzg3IDExLjc4MTMgMjEuNiAxMi41OTJDMjIuNTEyIDEzLjM1MiAyMi45NjggMTQuMzY1MyAyMi45NjggMTUuNjMyQzIyLjk2OCAxNi44OTg3IDIyLjUzNzMgMTcuOTM3MyAyMS42NzYgMTguNzQ4QzIwLjg2NTMgMTkuNTA4IDE5Ljc3NiAxOS44ODggMTguNDA4IDE5Ljg4OEMxNy40NDUzIDE5Ljg4OCAxNi41ODQgMTkuNjg1MyAxNS44MjQgMTkuMjhDMTUuMDY0IDE4Ljg3NDcgMTQuNDgxMyAxOC4yOTIgMTQuMDc2IDE3LjUzMkMxMy42NzA3IDE2Ljc3MiAxMy40NjggMTUuODYgMTMuNDY4IDE0Ljc5NlpNMC4wMTYgMTQuNzk2QzAuMDE2IDEzLjc4MjcgMC4xNjggMTIuNzQ0IDAuNDcyIDExLjY4QzAuODI2NjY3IDEwLjYxNiAxLjI4MjY3IDkuNTc3MzMgMS44NCA4LjU2NEMyLjQ0OCA3LjUgMy4xMzIgNi40ODY2NiAzLjg5MiA1LjUyNEM0LjcwMjY3IDQuNTEwNjcgNS41Mzg2NyAzLjU3MzMzIDYuNCAyLjcxMkM3LjMxMiAxLjggOC4yMjQgMC45ODkzMzEgOS4xMzYgMC4yNzk5OThMMTIuNzA4IDMuMTY4QzExLjIzODcgNC4wOCA5Ljg3MDY3IDUuMDY4IDguNjA0IDYuMTMyQzcuMzM3MzMgNy4xNDUzMyA2LjI0OCA4LjIzNDY2IDUuMzM2IDkuNEM0LjQ3NDY3IDEwLjUxNDcgMy44OTIgMTEuNzMwNyAzLjU4OCAxMy4wNDhMMi41MjQgMTIuODJDMi44MjggMTIuMjEyIDMuMTU3MzMgMTEuODMyIDMuNTEyIDExLjY4QzMuODY2NjcgMTEuNDc3MyA0LjI5NzMzIDExLjM3NiA0LjgwNCAxMS4zNzZDNi4xNzIgMTEuMzc2IDcuMzEyIDExLjc4MTMgOC4yMjQgMTIuNTkyQzkuMTM2IDEzLjM1MiA5LjU5MiAxNC4zNjUzIDkuNTkyIDE1LjYzMkM5LjU5MiAxNi44OTg3IDkuMTYxMzMgMTcuOTM3MyA4LjMgMTguNzQ4QzcuNDM4NjcgMTkuNTA4IDYuMzI0IDE5Ljg4OCA0Ljk1NiAxOS44ODhDMy45OTMzMyAxOS44ODggMy4xMzIgMTkuNjg1MyAyLjM3MiAxOS4yOEMxLjYxMiAxOC44NzQ3IDEuMDI5MzMgMTguMjkyIDAuNjI0IDE3LjUzMkMwLjIxODY2NyAxNi43NzIgMC4wMTYgMTUuODYgMC4wMTYgMTQuNzk2WiIgZmlsbD0iI0NDNUUwQiIvPgo8L3N2Zz4K');
  position: absolute;
  top: -0.8em;
  left: -0.8em;
}
.about span {
  margin-top: 1em;
  display: block;
  width: 100%;
  font-family: 'Roboto Serif', serif;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.8rem;
  font-style: italic;
  color: #d3d3d3;
}
.about.animate {
  animation: fadeIn 0.3s linear forwards;
  animation-delay: 0.4s;
}

.picture {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100%;
  max-width: 168px;
  max-height: 220px;
  top: 0;
  right: 0;
  opacity: 0;
  transition: inset 0.5s ease;
  transition-delay: 0.4s;
}
.picture.animate {
  top: 1.6rem;
  right: 1.6rem;
  animation: fadeIn 0.3s linear forwards;
  animation-delay: 0.2s;
}
.picture::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 8px solid var(--clr-orange);
  z-index: -1;
  transition: inset 0.5s ease;
  transition-delay: 0.4s;
}
.picture.animate::before {
  top: -1.6rem;
  right: -1.6rem;
}

.picture img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .header {
    padding-block: 2.4rem;
  }
  .header.animate {
    height: 23.8rem;
  }
  .title {
    max-width: 30rem;
  }
  .title h1 {
    font-size: 4.2rem;
  }
  .title span {
    font-size: 2.4rem;
  }
  .about {
    max-width: 30rem;
  }
  .about span {
    font-size: 1.4rem;
  }
  .picture {
    max-width: 140px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-inline: 1.6rem;
  }
  .header.animate {
    height: 63rem;
  }
  .wrapper {
    flex-direction: column;
  }
  .title h1 {
    text-align: center;
  }
  .title span {
    text-align: center;
  }
}

@keyframes appearFromTop {
  from {
    opacity: 0;
    transform: translateY(-6rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearFromRight {
  from {
    opacity: 0;
    transform: translateX(6rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
